{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<div id="content-main">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="module">
            <h2>Importuj plik JPK_FA (.xml)</h2>
            <div class="form-row">
                <div class="col-md-12">
                    <label class="required" for="id_xml_file">Wybierz plik:</label>
                    <input type="file" name="xml_file" class="form-control-file" required id="id_xml_file" accept=".xml">
                </div>
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" class="default" value="{% trans 'Submit' %}">
        </div>
    </form>
</div>
{% endblock %}
