{% extends "admin/change_list.html" %}

{% block object-tools-items %}

        <a href="kalkulator-zus/" class="btn btn-primary">
            <i class="fas fa-calculator"></i>
            Kalkulator składek ZUS
        </a>


        <a href="oblicz/" class="btn btn-primary">
            <i class="fas fa-calculator"></i>
            Oblicz i zapisz nowy miesiąc
        </a>

        <a href="import-jpk-ewp/" class="btn btn-info">
            <i class="fas fa-file-import"></i>
            Importuj z JPK_EWP
        </a>

    {{ block.super }}
{% endblock %}
